﻿/* www.menucool.com/tooltip/javascript-tooltip */

/*For tooltip target element that has set class="tooltip" */
.tooltip {text-decoration: none; border-bottom:1px dotted #36c;color: #36c; outline: none; }

/*For tooltip box*/
div#mcTooltip 
{
    line-height:20px;
    border-width: 2px;   
    border-color:#4cb856;
    padding:20px;
    border-radius:3px;
    background-color:#fff;
}

div#mcTooltip, div#mcttCo b {
}

/* For hyperlink within tooltip */
div#mcTooltip a { color:#6CF; }

/*Close button. Available when sticky or overlay has been set to true, or is on touch-enabled devices. */
div#mcttCloseButton
{ 
    width:18px;
    height:18px;
    margin-right:4px;
    margin-top:4px;
    /*background:black;*/  
}
/*Close button X symbol*/
div#mcttCloseButton:after {
    font:normal 38px/18px arial, sans-serif;
    color:#999;
    top:0;left:-2px;
}
.column { float:left; padding:0 20px;}

/*Give the close button a bigger size on smaller devices*/
@media only screen and (max-width: 736px) {
    div#mcttCloseButton {
        width:28px;
        height:28px;
    }
    div#mcttCloseButton:after {
        font-size:48px;
        line-height:28px;
    }    
} 

/* Useful when overlay has been set to true or 1 in JS */
div#mcOverlay 
{
    background-color: rgba(0,0,0,0.5);
    display:none;top:0;left:0;width:100%;height: 100%;overflow:visible;z-index:4; 
}

/*The settings below should remain unchanged*/
div#mcTooltipWrapper {position:absolute;visibility:hidden;overflow:visible;z-index:9999999999;top:-2000px;}
div#mcTooltip {float:left;border-style:solid;position:relative;overflow:hidden;}
div.mcTooltipInner {float:left;position:relative;width:auto;height:auto;}
div#mcttCo,  div#mcttCo b{position:absolute;overflow:hidden;}

/*compatible with bootstrap*/

div#mcTooltip, div#mcTooltip div {box-sizing:content-box; width:910px !important;}
.estaimate-quote-manger-pop-main-head-left1{ width:450px !important;}
.estaimate-quote-manger-pop-main-head-right1{ width:450px !important;}
